body {
    margin-left: 350px;
    margin-right: 350px;
    background:#1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 {
    margin-top: 90px;
    display: flex; 
    flex-direction: column; 
    max-height: 410px;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.left {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.right {
    display:flex;
    justify-content: flex-end;

}
    

.hero-text , .secondary-hero {
    color: #F9FAF8;
    display: flex;
    
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    max-width: 350px;
   
}

.secondary-hero {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    max-width: 440px;

}

.logo {
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    color: #F9FAF8;
    font-weight: bold;
      
}

.links {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    display:flex;
    gap: 15px;
}

.block-image {
    display: flex;
    height: 249px;
    width: 660px;
    margin-left: -130px;
    background: rgb(104, 104, 104);
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    

}

button {
    border: none;
    border-radius: 8px;
    background: rgb(17, 107, 192);
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    max-width: 120px;   
  }

  
a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}